*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
section{
    color: #1777BD;
}
.sidemenu{
    padding-top: 30px;
    height: 100vh;
    background-color: #1777BD;
    color: white;
}
.sidemenu .logo{
    color: #1777BD;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 8% 0;
}
.sidemenu .logo p{
    padding: 10%;
    border-left: 4px solid #1777BD;
}
.sidemenu .indice,
.sidemenu .contacto{
    padding: 10% 40px 0;
}
section h4,
header h4{
    font-weight: 700;
    margin-bottom: 0;
}
.sidemenu .indice h4 span,
.intro_noticia h4 span {
    color: #DD7B0E;
    margin-right: 3px;
    font-size: 20px;
}
.sidemenu li {
    list-style: none;
}
header{
    position: absolute;
    right: 0;
    padding: 30px;
}
header h4{
    margin-top: 0;
    color: #1777BD;
}
header p{
    color: black;
}
#video_intro,
#intro img,
#retro{
    cursor: pointer;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.intro_noticia{
    padding: 7% 14%;
}
.intro_noticia h4 {
    font-size: 25px;
    margin-bottom: 15px;
}
